*{
    margin: 0 auto 0 auto;
    text-align: left;
}

body{
    background-color: white;
    color: black;
    font-family: fantasy, cursive;
    background: url("../images/Nier%20Automata%20Wallpaper.png") no-repeat center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-bottom: 100%;
}

p{
    font-size: 1.5vw;
    font-weight: bolder;
    line-height: 1.6em;
    padding: 10px;
}



#mainHeader img{
    margin: 45px 0px 25px 90px;
    /*IMAGE DYNAMICALLY SCALES WITH WINDOW SIZE*/
    /*max-width: 100%;
    max-height: 100%;*/
    width: 50%;
    height: auto;
    clear: both;
    position: center;
    
}

#mainMenu{
    width: 100%; /*MUST SET WIDTH OF ELEMENT FOR CLEAR:BOTH TO WORK*/
    height: auto;
    clear: both;
    margin-left: 0;
}

#mainMenu ul{
    list-style: none;
    width: inherit;
    padding: 30px 0px 0px 5px;
    margin-left: 0;
    margin-right: 0;
}

#mainMenu li{
    display: inline;
    padding: 40px 17px 20px 20px;
    text-align: left;
    font-size: 1.35em;
    /*DYNAMIC FONT-SIZE*/
    font-size: 2.0vw;
    font-weight: bolder;
}

#mainMenu li a:link, li a:visited{
    text-decoration: none;
    background-color: black;
    text-align: center;
    color: white;
}

#mainMenu li a:hover, li a:active{
    text-decoration-line: line-through;
    background-color: white;
    color: black;
}


/*HOMEPAGE.HTML STYLE*/

#synopsis{
    max-width: 100%;
    max-height: 100%;
    width: 60vw;
    height: auto;
    float: left;
    padding: 50px 0px 10px 39px;
}

#synopsis h1{
    font-size: 1.5em;
    font-size: 1.8vw;
    padding-bottom: 10px;
}

#synopsis .synImg{
    max-width: 100%;
    max-height: 100%;
    width: 40vw;
    height: auto;
}

#synopsis p{
    font-weight: bolder;
    font-size: 1.5vw;
    padding: 30px 0px 0px 0px
        
}

#synopsis span.title{
    padding: 0px;
    background-color: black;
    color: white;
    
}

#synopsis .coverArt{
    float: left;
    margin-top: 8%;
    max-width: 100%;
    max-height: 100%;
    width: 26vw;
    height: auto;
}

#synopsis ul{
    max-width: 100%;
    max-height: 100%;
    width: 18vw;
    height: auto;
    
    float: right;
    margin: 17% 10% 0% 0%;
    padding: 25px;
    list-style: none;
    border: 1px solid black;
    
    background-color: black;
    color: white;
    
}

#synopsis ul li{
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bolder;
    border-bottom: 1px solid white;
}

#synopsis .gameTitle{
    font-size: 2.0vw;
}

#synopsis span.crossText{
    text-decoration: line-through;
}

/*HOMEPAGE.HTML CSS END*/

/*STORY.HTML CSS*/

#story{
    max-width: 100%;
    max-height: 100%;
    width: 60vw;
    height: auto;
    float: left;
    padding: 50px 0px 10px 39px;
}

#story h2{
    font-size: 2em;
    font-size: 2.0vw;
    width: 31vw;
    margin: 0px 0px 15px 0px;
    background-color: black;
    color: white;
}

#story h3{
    font-size: 1.7em;
    font-size: 1.6vw;
    width: 20vw;
    margin: 36px 0px 5px 380px;
    background-color: black;
    color: white;
}

#story h4{
    font-size: 1.5em;
    font-size: 1.4vw;
    width: 19vw;
    margin: 36px 0px 5px 0px;
    background-color: black;
    color: white;
}

#story h5{
    font-size: .95em;
    font-size: 1.2vw;
    width: 12vw;
    margin: 50px 0px 35px 380px;
    background-color: black;
    color: white;
    font-style: italic;
    text-decoration: line-through
}

.storyImg{
    width: 37vw;
    padding: 20px 0px 20px 95px;
}

#story .firstHomeLink{
    float: left;
    margin: 0% 0% 18% 37%;
    padding: 2px;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: black;
    color: white;
}

#story .firstNextLink{
    float: right;
    margin: 0px 10% 18% 0px;
    padding: 2px;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: black;
    color: white;
}

#story .nextLink{
    float: right;
    margin: 0px 10% 18% 0px;
    padding: 2px;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: black;
    color: white;  
}

#story .prevLink{
    float: left;
    margin: 0% 0% 18% 8%;
    padding: 2px;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: black;
    color: white; 
    
    
}

#story .homeLink{
    float: left;
    margin: 0% 0% 20% 24%;
    padding: 2px;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: black;
    color: white;  
}

#story .iconSpace{
    padding-right: 5px; 
}

#story .prevIconSpace{
    padding-left: 5px;
}

/*STORY.HTML CSS END*/

/*CHARACTER.HTML CSS*/

#character {
    margin: 8% 0% 10% 0%; 
    width: 70%;
    clear: both;
}

#character h1{
    width: 20%;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 1.5em;
    font-size: 1.8vw;
    font-weight: bolder;
    background-color: black;
    color: white;
}

.ID-2B{
    width: 32%;
    height: 23.14%;
    padding: 15px;
    margin: 10px;
    background-color: black;
}

.ID-9S{
    width: 32%;
    height: 23.14%;
    padding: 15px;
    margin: 10px;
    background-color: black;
}

.ID-A2{
    width: 32%;
    height: 23.14%;
    padding: 15px;
    margin: 10px;
    background-color: black;
}

#character .link:link, .link:visited{
    font-weight: bolder;
    text-decoration: none;
    background-color: black;
    color: white;
    
}

#character .link:hover, .link:active{
    font-weight: bolder;
    background-color: white;
    color:black;
    text-decoration: line-through;
}



#character .profile{
    text-align: center;
}

#character span.centerName{
    margin: 1%;
    font-weight: bolder;
}

/*CHARACTERS.HTML CSS END*/

/*TWOB-PROFILE.HTML CSS*/
/*NINES-PROFILE.HTML CSS*/
/*ATWO-PROFILE.HTML CSS*/

#characterPage{
    width: 78%;
    margin-left: 0;
    margin-right: 0;
}

#characterPage h1{
    margin: 14% 0% 0% 43%;
    font-size: 1.5em;
    font-size: 1.8vw;
    font-weight: bolder;
    background-color: black;
    color: white;
    width: 6%;
    text-align: center;
}

#characterPage .bodyImg{
    width: 37%;
    float: left;
    margin-left: 27%;
    margin-top: 4%
        
}

/*TWOB-PROFILE.HTML CSS END*/
/*NINES-PROFILE.HTML CSS END*/
/*ATWO-PROFILE.HTML CSS END*/



